@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* @font-face {
  font-family: "Product Sans";
  src: local('Product Sans'), url('./fonts/Product Sans Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: local('Product Sans'), url('./fonts/Product Sans Bold.ttf'), format("truetype");
  font-weight: bold;
  font-style: normal;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}